*{
  margin: 0px;
}
.bg-cont{
  background-color: hsl(214, 49%, 22%);
  height: 100vh;
  padding: 20px;
}
/* .content-cont{
  
} */
.heading{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}

.input_submit_cont{
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-bottom: 25px;
}

.tasks_cont{
  color: #ffffff;
  /* border:#ffffff 2px solid; */
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.input_el{
  padding: 10px;
  width: 40%;
  border-style: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: gray;
}
.submit_btn{
  padding: 10px;
  width: 110px;
  border-style: none;
  border-radius: 5px;
  background-color: #344762;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.each_task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #344762;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
}
.edit{
  background-color: transparent;
  border:none;
  cursor: pointer;
  
}
.delete{
  background-color: transparent;
  border:none;
  cursor: pointer;
}
